@use '../../styles/tokens' as tokens;

.Container {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: tokens.$measureSpace200;
}

@include tokens.breakpoint-up('tablet') {
  .Container {
    max-width: tokens.container('tablet');
    padding-inline: tokens.$measureSpace300;
  }
}

@include tokens.breakpoint-up('desktop') {
  .Container {
    max-width: tokens.container('desktop');
    padding-inline: tokens.$measureSpace400;
  }
}

@include tokens.breakpoint-up('desktop-lg') {
  .Container {
    max-width: tokens.container('desktop-lg');
    padding-inline: tokens.$measureSpace500;
  }
}
