$measureDimensionSpace0: 0px;    
$measureDimensionSpace50: 4px;    
$measureDimensionSpace100: 8px;    
$measureDimensionSpace200: 16px;    
$measureDimensionSpace300: 24px;    
$measureDimensionSpace400: 32px;    
$measureDimensionSpace500: 40px;    
$measureDimensionSpace600: 48px;    
$measureDimensionSpace700: 56px;    
$measureDimensionSpace800: 64px;    
