$measureSpace0: 0px;    
$measureSpace100: 8px;    
$measureSpace200: 16px;    
$measureSpace300: 24px;    
$measureSpace400: 32px;    
$measureSpace500: 40px;    
$measureSpace600: 48px;    
$measureSpace700: 56px;    
$measureSpace800: 64px;    
$measureSpace50: 4px;    
/* -0.08em */
$measureLetterSpacingTitleHeroLetterSpacing: -5.12px;    
$measureFontSize0: 0px;    
$measureFontSize50: 4px;    
$measureFontSize100: 8px;    
$measureFontSize200: 16px;    
$measureFontSize300: 24px;    
$measureFontSize400: 32px;    
$measureFontSize500: 40px;    
$measureFontSize600: 48px;    
$measureFontSize700: 56px;    
$measureFontSize800: 64px;    
$measureFontSize900: 96px;    
$measureFontSizeTitleHeroSizeLarge: $measureFontSize800;    
