$measureSpaceSpace0: 0px;    
$measureSpaceSpace100: 8px;    
$measureSpaceSpace200: 16px;    
$measureSpaceSpace300: 24px;    
$measureSpaceSpace400: 32px;    
$measureSpaceSpace500: 40px;    
$measureSpaceSpace600: 48px;    
$measureSpaceSpace700: 56px;    
$measureSpaceSpace800: 64px;    
$measureSpaceSpace50: 4px;    
