@use '../../styles/tokens' as tokens;

.About {
  text-align: center;
}

.About__photo {
  width: 294px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
}

.About__name {
  line-height: 0.9;
}

.About__job {
  margin-block: -1em 2em;
  font-size: tokens.$measureFontSize300;
}
