@use '../../styles/tokens' as tokens;

.About {
  margin: tokens.$measureSpace400 0;
  text-align: center;
}

.About__photo {
  width: 200px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
}

.About__name {
  font-size: tokens.$measureFontSize800;
  line-height: 0.9;
}

.About__job {
  margin-block: - tokens.$measureSpace200 tokens.$measureSpace400;
  font-size: tokens.$measureFontSize250;
}
